body{
  user-select: none;
}
.App{
  background-color: #262223;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
footer{
  font-family: 'Poppins', sans-serif;
  color: #DDC6B6;
  font-size: 1.5rem;
  text-align: center;
}

.soon{
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  height:4rem;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;

}
@media screen and (max-width: 768px){
  h3{
    font-size: 2.3rem;
  }
  .soon{
    width: 13rem;
    font-size: 1rem;
    height: 3rem;
  }
}
  

